---
import Image from '~/components/common/Image.astro';

const weddingLogo = '~/assets/images/logo.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white inline-flex items-center"
>
  <Image src={weddingLogo} alt="Wedding Logo" width={100} class="inline" />
</span>
