---
import Layout from '~/layouts/Layout.astro';
import HeaderBackAction from '~/components/widgets/HeaderBackAction.astro';
import Footer from '~/components/widgets/Footer.astro';

export const headerData = {
  links: [],
  actions: [{ text: 'Volver', href: '/' }],
};

import { footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <HeaderBackAction {...headerData} isSticky />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
